@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.App {
  text-align: left;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.norm {
  height: 50px;
  width: auto;
  font-size: xx-large;
  font-family: 'Grand Hotel', cursive;

}

.material-icons:hover{
  cursor: pointer;

}

.Comment-user {
  display: flex;
  padding: 2px;
  height: auto;
}
.Comment-user-avatar {
  width: 30px;
  height: 30px;
}
.Comment-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Comment-user-nickname {
  margin-left: 12px;
 font-size: small;

 
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
